[all]
node1 ansible_host=192.168.200.163
node2 ansible_host=192.168.200.164

[data_nodes]
node1

[app_nodes]
node2

[all:vars]
ansible_user=iguazio
ansible_password=
ansible_become_user=iguazio
ansible_become_password=
